<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RFIDTagConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <RFIDTagConverter.Properties.Settings>
            <setting name="InputFormat" serializeAs="String">
                <value>Smartec usb HID</value>
            </setting>
            <setting name="OutputFormat" serializeAs="String">
                <value>Orion Pro with CRC</value>
            </setting>
            <setting name="VisibleFormats" serializeAs="String">
                <value>TID decimal,Card number with facility decimal</value>
            </setting>
            <setting name="FacilityCode" serializeAs="String">
                <value>016</value>
            </setting>
            <setting name="FacilityMap" serializeAs="String">
                <value>016=150</value>
            </setting>
        </RFIDTagConverter.Properties.Settings>
    </userSettings>
</configuration>
